{
  "comments": false,
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": { "node": 7 }
        }],
        "stage-0"
      ],
      "plugins": ["istanbul"]
    },
    "main": {
      "presets": [
        ["env", {
          "targets": { "node": 7 }
        }],
        "stage-0"
      ]
    },
    "renderer": {
      "presets": [
        ["env", {
          "modules": "commonjs"
        }],
        "stage-0"
      ]
    },
    "web": {
      "presets": [
        ["env", {
          "modules": "commonjs"
        }],
        "stage-0"
      ]
    },
    "babel": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": "commonjs"
          }
        ]
      ]
    }
  },
  "plugins": ["transform-runtime"]
}
